body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fdeaf4;
  text-align: center;
  margin: 0;
  padding: 2rem;
  color: #4b006e;
}

h1 {
  margin-bottom: 0.5rem;
}

.acciones {
  margin: 1rem 0;
}

button {
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

.materia {
  background-color: #fff;
  border: 2px solid #bb87cc;
  color: #4b006e;
  box-shadow: 0 0 6px #bb87cc33;
}

.materia.aprobada {
  background-color: #b3f0c6;
  border-color: #41a55b;
  color: #2d5938;
}

.anio {
  margin-top: 2rem;
}

.semestre {
  margin-top: 1rem;
}

footer {
  margin-top: 3rem;
  color: #a23aa3;
  font-weight: bold;
}
